<section id="education" class="education-section">
  <h2>Education</h2>
  <div class="education-entry">
    <h3>EPFL Lausanne, Switzerland</h3>
    <p><strong>Master – Data Science, specialization in Financial Engineering</strong>, Grade: 5.35 / 6 (89%)<br>
    September 2024 – Today</p>
    <p><strong>Bachelor – Computer Science / Communication Systems</strong>, Grade: 5.23 / 6 (87%)<br>
    September 2021 – July 2024</p>
    <ul>
      <li>Engagement: Teaching Assistant in Probability and Statistics and Introduction to Programming (Python), Mentoring for 1st year Bachelor students</li>
      <li>Relevant Coursework: Probability, Statistic and Stochastic Calculus, Derivatives, Time Series, Machine Learning, Applied Data Analysis, Algebra, Algorithms, Oriented Object programming</li>
      <li>Academic exchange (3rd year): Polytechnique Montréal, Montreal, Canada (September 2023 – July 2024)</li>
    </ul>
  </div>

  <div class="education-entry">
    <h3>Le Bon Sauveur Le Vésinet, France</h3>
    <p><strong>High School Baccalaureate – Scientific option</strong>, Grade: Highest Honors</p>
    <ul>
      <li>Engagement: Member of the student committee, music group and sportive association</li>
      <li>(July 2021)</li>
    </ul>
  </div>
</section>
