<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <!-- Email -->
        <a aria-label="Send email" href="mailto:francoisgoybet@gmail.com" target="_blank" rel="noopener noreferrer">
          <i class="icon fa fa-envelope"></i>
        </a>
        <!-- GitHub -->
        <a aria-label="My Github" target="_blank" href="https://github.com/francois-goybet" rel="noopener noreferrer">
          <i class="icon fa fa-github-alt" aria-hidden="true"></i>
        </a>
        <!-- LinkedIn -->
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/fran%C3%A7ois-goybet-b7ab5126b/?originalSubdomain=ch" rel="noopener noreferrer">
          <i class="icon fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>

      <div class="header-downloads" style="margin-top: 1rem;">
        <a class="download-link" href="assets/documents/Resume.pdf" download>Download Resume</a> |
        <a class="download-link" href="assets/documents/GetLink.pdf" download>Download Recommendation Letter GetLink</a>
        <a class="download-link" href="assets/documents/ProbabilityStochasticCalculus.pdf" download>Download Recommendation Letter Probability and Stochastic Calculus</a>
      </div>

  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
